alias icloud="cd '/Users/jedrzej/Library/Mobile Documents/com~apple~CloudDocs/'"
alias clean_pycache="find . | grep -E '(__pycache__|\.pyc|\.pyo$)' | xargs rm -rf"
alias venv="if [ -e ./venv/bin/activate ]; then source ./venv/bin/activate; else python3 -m venv venv && source ./venv/bin/activate; fi"
alias samsung="cd '/Volumes/Samsung_980/'"
alias vim=nvim

# Git
alias gsu="git submodule update --recursive --init"
alias glr="git pull --rebase && gsu"
alias gco="git checkout"
alias gcor="git checkout --recurse-submodules"

# GitHub
alias ght='gh workflow run tests --ref $(git rev-parse --abbrev-ref HEAD)'

# Conda
alias cda='conda activate'
alias cdd='conda deactivate'
alias cdl='conda env list'
alias cdc='conda create --name'
alias cdr='conda env remove --name '

# MuJoCo
alias mjv='python -m mujoco.viewer --mjcf'
